.App {
  background: url(https://cdn.tgdd.vn//GameApp/-1//Powerpoint-6-800x450.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: start;
  background-color: black;
  margin-bottom: 10px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.nav li {
  float: left;
}

.nav li:hover {
  background-color: #e04010;
}
.nav a {
  display: flex;
  color: darkgreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none
}

.nav a.active {
  width: auto;
  font-weight: bold;
  background-color: #79850d;
}

/* .container {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto auto;
  margin-left: 10rem;
  margin-right: 10rem;
}

.column {
  display: flex;
} */

.container {
  /* padding: 0px 100px 10px 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: stretch; */
}

.column {
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
  border-radius: 10px;
  
}
.card {
  text-align: center;
  margin: 30px;
  max-width: 300px;
  height: 100%;
  margin-bottom: 50px;
  border-radius: 10px;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3{ 
  font-size: 1.64rem;
}

.card h4{
  font-size: medium;
}

.footer{
  text-align: center;
  background-color: yellowgreen ;
}

.card a {
  display: inline-block;
  padding: 4px 8px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: max-content;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px
}

.card a:hover {
  background-color: #06D85F;
}

.card a span {
  pointer-events: none;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  transition: opacity 500ms;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup{
  margin: 70px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup img{ width: 100%;}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {color: #06D85F;}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.badge{
  background-color: #e04010;
  color: white; 
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.product-tumb{
 justify-self: center;
 
}

.product-tumb img{
  width: 500px;
  object-fit: cover;
  display: block;
  
}

.product-price{
  color: #c47c10;
}

.product-card {
  /* display: block; */
  margin: 10px;
  width: 100%;
  height: auto;
  background-color: rgb(211, 205, 205);
}

.product-details{
  padding-top: 5rem;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}