.App {
  background: url(https://png.pngtree.com/background/20210711/original/pngtree-football-shading-poster-background-vector-material-picture-image_1128182.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: start;
  background-color: black;
  margin-bottom: 10px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.nav li {
  float: left;
}

.nav li:hover {
  background-color: #e04010;
}
.nav a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a.active {
  width: auto;
  font-weight: bold;
  background-color: #79850d;
}

.container {
  display: grid;
  justify-content: flex-start;
  grid-template-columns: auto auto auto;
  margin-left: 10rem;
  margin-right: 10rem;
}

.column {
  display: flex;
}

.card {
  /* display: block; */
  flex: 1;
  text-align: center;
  margin: 10px;
  max-width: 100%;
  height: auto;
}

.card img{
  max-width: 100%;
}

.card button {
  display: flexbox;
  background-color: black;
  color: white;
  width: 100%;
  
}

.footer{
  text-align: center;
  background-color: yellowgreen ;
}


